{{!-- {{input
  class=(concat
    inputClassNames
    " "
    "c-material-text-input__input
    g-border-none
    g-border-bottom-s2
    u-b-box")
  value=value
  placeholder=placeholder
  id=fieldId
  type="text"
}} --}}
<input
  class={{concat
    inputClassNames
    " "
    "c-material-text-input__input
    g-border-none
    g-border-bottom-s2
    u-b-box"}}
  value={{value}}
  placeholder={{placeholder}}
  id={{fieldId}}
  type="text"
  onkeyup={{action (mut value) value='target.value'}}>

<label
  for={{fieldId}}
  class={{concat
    labelClassNames
    " "
    "c-material-text-input__label
    u-absolute"}}>

  {{label}}

</label>
