{{#page-content class="p-dashboard g-bg-theme-primary-2--100"}}

  <h2 class="u-align-center u-mt4 u-mb5">Welcome to RealChat, {{SessionService.data.authenticated.user.email}}</h2>

  <h3>Rooms</h3>

  <ul class="p-dashboad__room-list o-collection">

    {{#each model.rooms as |room|}}
      {{room-list-item class="p-dashboard__room-list-item o-collection-item g-bg-nearWhite" room=room}}
    {{else}}
      No Rooms Created Yet
    {{/each}}

  </ul>
  <div class="o-flex-grid">
    {{material-text-input class="o-grid-cell u-mr2" label="Room Name" value=model.newRoom.name placeholder="Enter a Room Name"}}
    {{x-button
      class="o-flex-grid p-dashboard__create-room-button g-theme-primary-1--500"
      onPressed=(route-action 'createRoom')
      title="CREATE"
    }}
  </div>


{{/page-content}}
